<h1>My Credentials</h1>

<!--Table to show credentials -->
	<section>
		<table class = "table table-striped">
  			<tr>
			    <th>Title</th>
			    <th>Issuing Authority</th>
			    <th>Date Issued</th>
			    <th>Last Renewal</th>
			    <th>Next Renewal</th>
			    <th>Hours Required</th>
			    <th>Image</th>
  			</tr>
  			<% @credentials.each do |credential| %>
  			<tr>
			    <td><p><%= credential.title %></p></td>
			    <td><p class ="text-center"><%= credential.issuing_authority %></p></td>
			    <td><p class ="text-center"><%= credential.date_issued.strftime('%D') %></p></td>
				<td><p class ="text-center"><%= credential.last_renewal.strftime('%D') %></p></td>
				<td><p class ="text-center"><%= credential.next_renewal.strftime('%D') %></p></td>
				<td><p class ="text-center"><%= credential.hoursrequired %></p></td>
				<td><p><%= credential.credential_image %></p></td>
				<td><p><%= link_to "View", credential %></p></td>
  			</tr>
  			<% end %>
		</table>
	</section>


<button class="btn btn-info" type="submit"><%= link_to "Add New Credential", new_credential_path %></button> <button class="btn" type="submit"><%= link_to "View Courses", courses_path %></button> 

<%= debug @credentials%>