<h1>My Credentials</h1>

<!--Table to show credentials -->
	<section>
		<table class = "table table-striped">
  			<tr>
			    <th>Title</th>
			    <th>Issuing Authority</th>
			    <th>Date Issued</th>
			    <th>Last Renewal</th>
			    <th>Next Renewal</th>
			    <th>Hours Required </br>for Renewal</th>
			    <th>Image</th>
  			</tr>
  			<% @credentials.each do |credential| %>
  			<tr>
			    <td><p><%= credential.title %></p></td>
			    <td><p><%= credential.issuing_authority %></p></td>
			    <td><p><%= credential.date_issued.strftime('%D') %></p></td>
				<td><p><%= credential.last_renewal.strftime('%D') %></p></td>
				<td><p><%= credential.next_renewal.strftime('%D') %></p></td>
				<td><p><%= credential.hoursrequired %></p></td>
				<td><p><%= credential.has_credential_image %></p></td>
				<td><p><%= link_to "View", credential %></p></td>
  			</tr>
  			<% end %>
		</table>
	</section>


<%= link_to "Add New Credential", new_credential_path %> | <%= link_to "View Courses", courses_path %>

