<h1>My Credentials</h1>

<!--Table to show credentials -->
	<section>
		<table border="1">
  			<tr>
			    <th>Title</th>
			    <th>Issuing Authority</th>
			    <th>Date Issued</th>
			    <th>Last Renewal</th>
			    <th>Next Renewal</th>
			    <th>Image</th>
  			</tr>
  			<% @credentials.each do |credential| %>
  			<tr>
			    <td><p><%= credential.title %></p></td>
			    <td><p style = "color: green;"><%= credential.issuing_authority %></p></td>
			    <td><p style = "color: green;"><%= credential.date_issued %></p></td>
				<td><p style = "color: green;"><%= credential.last_renewal %></p></td>
				<td><p style = "color: green;"><%= credential.next_renewal %></p></td>
				<td><p style = "color: green;"><%= credential.credential_image %></p></td>
				<td><p><%= link_to "View", credential %></p></td>
  			</tr>
  			<% end %>
		</table>
	</section>


<%= link_to "Add New Credential", new_credential_path %> | <%= link_to "View Courses", courses_path %>


