<h1>Add a New Credential</h1>

<% if @credentials.errors.any? %>
	<h2>There were errors saving your credentials</h2>
	<ul>
		  <% @credential.errors.full_messages.each do |msg| %>
		  <li><%= msg %></li>
		  <% end %>
	</ul>
<% end %>

<section>
		<table border="1">
  			<tr>
			    <th>Title</th>
			    <th>Issuing Authority</th>
			    <th>Date Issued</th>
			    <th>Last Renewal</th>
			    <th>Next Renewal</th>
			    <th>Hours Required</th>
			    <th>Image</th>
  			</tr>
  			<%= form_for @credentials do |f| %>
  			<tr>
			    <td><p><%= f.text_field :title %></p></td>
			    <td><p style = "color: green;"><%= f.text_field :issuing_authority %></p></td>
			    <td><p style = "color: green;"><%= f.date_select :date_issued %></p></td>
				<td><p style = "color: green;"><%= f.date_select :last_renewal %></p></td>
				<td><p style = "color: green;"><%= f.date_select :next_renewal %></p></td>
				<td><p style = "color: green;"><%= f.text_field :hoursrequired %></p></td>
				<td><p style = "color: green;"><%= f.text_field :credential_image %></p></td>
  			</tr>	
		</table>
		<%= f.submit %>
		<% end %>
</section>

<%= link_to "Cancel", credentials_path %>

