<h1>Add a New Credential</h1>

<div style="color:red;">
<% if @credentials.errors.any? %>
	<h2 >There were errors saving your credential!</h2>
	<ol>
		  <% @credentials.errors.full_messages.each do |msg| %>
		  <li><%= msg %></li>
		  <% end %>
	</ol>
<% end %>

</div>

<section>
  			<%= form_for @credentials do |f| %>
			    <p><%= f.text_field :title, :placeholder => "Title" %></p>
			    <p><%= f.text_field :issuing_authority, :placeholder => "Issuing Authority" %></p>
			    <%= f.label :date_issued %>
			    <p><%= f.date_select :date_issued %></p>
			    <%= f.label :last_renewal %>
				<p><%= f.date_select :last_renewal%></p>
				<%= f.label :next_renewal %>
				<p><%= f.date_select :next_renewal%></p>
				<p><%= f.text_field :hoursrequired, :placeholder => "Hours Required" %></p>
				<%= f.label :Add_Credential_Certificate %>
				<p><%= f.file_field :credential_image, :placeholder => "Credential Image" %></p>
				<%= f.submit %>
			<% end %>
</section>
</br>
<button class="btn" type="submit"><%= link_to "Cancel", credentials_path %></button>

<% flash.each do |key, value| %>
      <div class="alert alert-<%= key %>"><%= value %></div>
      <% end %>