
<!--Table to show selected credential -->
	<section>
		<table class = "table table-striped">
  			<tr>
			    <th>Title</th>
			    <th>Issuing Authority</th>
			    <th>Date Issued</th>
			    <th>Last Renewal</th>
			    <th>Next Renewal</th>
			    <th>Hours Required</th>
			    <th>Image</th>
  			</tr>
  			
  			<tr>
			    <td><p><%= @credential.title %></p></td>
			    <td><p><%= @credential.issuing_authority %></p></td>
			    <td><p><%= @credential.date_issued.strftime('%D') %></p></td>
				<td><p><%= @credential.last_renewal.strftime('%D')%></p></td>
				<td><p><%= @credential.next_renewal.strftime('%D') %></p></td>
				<td><p><%= @credential.hoursrequired %></p></td>
				<td><p><%= @credential.credential_image %></p></td>
  			</tr>
  			
		</table>
	</section>


<%= image_tag @credential.credential_image %>
</br>
</br>


<button class="btn btn-warning" type="submit"><%= link_to "Edit", edit_credential_path(@credential) %></button> 
<button class="btn btn-danger" type="submit"><%= link_to "Delete", credential_path(credential_id: @credential.id), confirm:'Are you sure?',  method: :delete %></button>
</br>
</br>
<button class="btn" type="submit"><%= link_to "Return to My Credentials", credentials_path %></button> 


