
<!--Table to show selected credential -->
	<section>
		<table border="1">
  			<tr>
			    <th>Title</th>
			    <th>Issuing Authority</th>
			    <th>Date Issued</th>
			    <th>Last Renewal</th>
			    <th>Next Renewal</th>
			    <th>Hours Required</th>
			    <th>Image</th>
  			</tr>
  			
  			<tr>
			    <td><p><%= @credential.title %></p></td>
			    <td><p style = "color: green;"><%= @credential.issuing_authority %></p></td>
			    <td><p style = "color: green;"><%= @credential.date_issued %></p></td>
				<td><p style = "color: green;"><%= @credential.last_renewal %></p></td>
				<td><p style = "color: green;"><%= @credential.next_renewal %></p></td>
				<td><p style = "color: green;"><%= @credential.hoursrequired %></p></td>
				<td><p style = "color: green;"><%= @credential.credential_image %></p></td>
  			</tr>
  			
		</table>
	</section>

<p><%= link_to "Edit", edit_credential_path(@credential) %> | <%= link_to "Delete", credential_path(credential_id: @credential.id), method: :delete %></p>

<p><%= link_to "Return to My Credentials", credentials_path %></p>



