
<!--Table to show selected credential -->
	<section>
		<table class = "table table-striped">
  			<tr>
			    <th>Title</th>
			    <th>Issuing Authority</th>
			    <th>Date Issued</th>
			    <th>Last Renewal</th>
			    <th>Next Renewal</th>
			    <th>Hours Required</th>
  			</tr>
  			
  			<tr>
			    <td><p><%= @credential.title %></p></td>
			    <td><p><%= @credential.issuing_authority %></p></td>
			    <td><p><%= @credential.date_issued.strftime('%D') %></p></td>
				<td><p><%= @credential.last_renewal.strftime('%D')%></p></td>
				<td><p><%= @credential.next_renewal.strftime('%D') %></p></td>
				<td><p><%= @credential.hoursrequired %></p></td>
  			</tr>
  			
		</table>
	</section>

<div class="image">
<%= image_tag(@credential.credential_image_url(:thumb).to_s) if @credential.credential_image? %>
</div>

</br>
</br>


<%= link_to "Edit", edit_credential_path(@credential) %> |
<%= link_to "Delete", credential_path(credential_id: @credential.id), method: :delete %>
</br>
</br>
<%= link_to "Return to My Credentials", credentials_path %>


