<% provide(:title, 'Edit My Courses') %>

<h1>Edit Course</h1>

<% if @courses.errors.any? %>
	<h2>There were errors updating your course!</h2>
	<ul>
		  <% @courses.errors.full_messages.each do |msg| %>
		  <li><%= msg %></li>
		  <% end %>
	</ul>
<% end %>

<section>
		<%= form_for @courses do |f| %>
  			
			    <p><%= f.text_field :name, :placeholder => "Course Name" %></p>
			    <%= f.label :course_date %>
				<%= f.date_select :course_date %></p>
			    <%= f.text_field :credits, :placeholder => "Course Credits" %></p>
				<%= f.text_field :certificate, :placeholder => "Certificate" %></p>
				<%= f.label :Select_Credential %>
				<p><%= f.collection_select :credential_id, @credentials, :id, :title %></p>
  			
			<%= f.submit %>
		<% end %>
</section>
</br>
<%= link_to "Cancel", courses_path %>