<% provide(:title, 'My Continuing Education Courses') %>

<h1>My Continuing Education Courses</h1>

<!--Table to show courses-->
	<section>
		<table class = "table table-striped">
  			<tr>
			    <th>Course Name</th>
			    <th>Course Date</th>
			    <th>Credits</th>
			    <th>Certificate</th>

			  	<% @credentials.each do |credential|%>
			  	<th><%=credential.title %></th>
			  	<% end %>
			  	<th>Credential</th>
  			</tr>
  			<% @courses.each do |course| %>
  			<tr>
			    <td><p><%= course.name %></p></td>
			    <td><p><%= course.course_date.strftime('%D') %></p></td>
			    <td><p><%= course.credits %></p></td>
				<td><p><%= course.certificate %></p></td>
				
				<% @credentials.each do |credential|%>
			  	<td><%=credential.title %></td>
			  	<% end %>
				<td><p><%= convert_to_label course.label_list %>
				<td><p><%= link_to "View", course %></p></td>
  			</tr>
  			<% end %>

		</table>
	</section>


<%= link_to "Add New Course", new_course_path %> | <%= link_to "View Credentials", credentials_path %>

