<h1>Add a New Course</h1>

<% if @courses.errors.any? %>
	<h2>There were errors saving your credentials</h2>
	<ul>
		  <% @courses.errors.full_messages.each do |msg| %>
		  <li><%= msg %></li>
		  <% end %>
	</ul>
<% end %>

<section>
		<table border="1">
  			<tr>
			    <th>Course Name</th>
			    <th>Course Date</th>
			    <th>Credits</th>
			    <th>Certificate</th>
			    <th>Select Credential</th>
  			</tr>
  		
  			<%= form_for @courses do |f| %>
  			<tr>
			    <td><p><%= f.text_field :name %></p></td>
				<td><%= f.date_select :course_date %></p></td>
			    <td><%= f.text_field :credits %></p></td>
				<td><%= f.text_field :certificate %></p></td>
				<td><p><%= f.collection_select :credential_id, @credentials, :id, :title %></p></td>
  			</tr>	
		</table>
		<%= f.submit %>
		<% end %>
</section>

<%= link_to "Cancel", courses_path %>

