<h1>Add a New Course</h1>

<div style="color:red;"> 

<% if @courses.errors.any? %>
	<h2>There were errors saving your course!</h2>
	<ol>
		  <% @courses.errors.full_messages.each do |msg| %>
		  <li><%= msg %></li>
		  <% end %>
	</ol>
<% end %>

</div>

<section>
  		<%= form_for @courses do |f| %>

  			<div class="field">
  				<%= f.label :name, "Course Name", title: "Add the Course Name", data: {tooltip: true } %>
			   	<%= f.text_field :name, :placeholder => "Course Name"%>
			</div>

			<div class="field">
			    <%= f.label :course_date, "Course Date", title: "Select the Course Date", data: {tooltip: true }, :class =>"datepicker" %>
				<%= f.date_select :course_date %></p>
			</div>

			<div class="field">
				<%= f.label :credits, "Course Credits", title: "Enter the Number of Course Credits", data: {tooltip: true } %>
			    <%= f.text_field :credits, :placeholder => "Course Credits" %></p>
			</div>

			<div class="field">
				<%= f.label :credential_id, "Select Credential", title: "Select the Credential", data: {tooltip: true }  %>
				<%= f.collection_check_boxes :credential_id, @credentials, :id, :title %>
			</div>

			<div class="field">
				<%= f.label :Add_Course_Certificate, "Add a Course Certificate" %>
				<p><%= f.file_field :certificate %></p>
			</div>
  			
			<%= f.submit nil, :class => "btn btn-success"%>
		<% end %>
</section>

<%= link_to "Cancel", courses_path, :class => "btn btn-primary" %>



