<h1>Add a New Course</h1>

<div class= "field_with_errors"> 

<% if @courses.errors.any? %>
	<h2>There were errors saving your course!</h2>
	<ul>
		  <% @courses.errors.full_messages.each do |msg| %>
		  <li><%= msg %></li>
		  <% end %>
	</ul>
<% end %>

</div>

<section>
  		<%= form_for @courses do |f| %>
  			
			    <p><%= f.text_field :name, :placeholder => "Course Name" %></p>
			    <%= f.label :course_date %>
				<%= f.date_select :course_date %></p>
			    <%= f.text_field :credits, :placeholder => "Course Credits" %></p>
				<%= f.label :Select_Credential %>
				<p><%= f.collection_select :credential_id, @credentials, :id, :title, method: :post %></p>

				<%= f.label :Add_Course_Certificate %>
				<p><%= f.file_field :certificate %></p>
  			
			<%= f.submit %>
		<% end %>
</section>

<%= link_to "Cancel", courses_path %>