
<!--Table to show selected credential -->
	<section>
		<table class = "table table-striped">
  			<tr>
			    <th>Course Name</th>
			    <th>Course Date</th>
			    <th>Credits</th>
			    <th>Certificate</th>
			    <th>Credential</th>
  			</tr>
  			
  			<tr>
			    <td><p><%= @course.name %></p></td>
			    <td><p><%= @course.course_date.strftime('%D') %></p></td>
			    <td><p><%= @course.credits %></p></td>
				<td><p><%= @course.certificate %></p></td>
				<td><p><%= @course.credential_id %></p></td> 
  			</tr>
  			
		</table>
	</section>

<%= image_tag @course.certificate %>

<p><%= link_to "Edit", edit_course_path(@course) %> | <%= link_to "Delete", course_path(course_id: @course.id), method: :delete %></p>

<p><%= link_to "Return to My Courses", courses_path %></p>

